.dashboard-options {
    width: 100vw;
    padding-right: 10px;
}

.dashboard {
    width: fit-content;
    height: fit-content;
    max-width: 100vw;
}

.dash-lhs {
    width: fit-content;
    height: fit-content;
    max-width: 100vw;
}

.dash-lhs > div:nth-of-type(1) {
    width: inherit;
    max-width: 100vw;
    height: 50%;
}

.dash-lhs > div:nth-of-type(2) {
    width: inherit;
    height: 50%;
}

.dash-lhs > div:nth-of-type(1) > div:nth-of-type(1) {
    width: 50%;
    height: fit-content;
}

.dash-lhs > div:nth-of-type(1) > div:nth-of-type(2) {
    width: 50%;
    height: 100%;
}

.dash-lhs > div:nth-of-type(2) > div:nth-of-type(1) {
    width: 100%;
    height: 300px;
}

.dash-lhs > div:nth-of-type(2) > div:nth-of-type(2) {
    width: 100%;
    height: 100%;
}

.dash-rhs {
    height: fit-content;
    max-width: 100%;
    max-height: 500px;
}

.dash-cont {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    transition: all 300ms;
}

.est-face-cont {
    height: 245px;
    max-width: 100vw;
}

.dash-cont:hover {
    box-shadow: 0px 0px 0px 2px #553bff;
}

.dash-rhs > .dash-cont > .d-flex {
    height: fit-content;
    max-height: 400px;
}

.icon-text-item {
    border: 2px solid rgb(233, 233, 233);
    width: 100%;
    transition: all 300ms;
}

.icon-text-item:hover {
    box-shadow: 0px 0px 0px 0.5px #563BFF;
    border-color: #563BFF;
}

.quotes > div {
    height: 90%;
}

.carousel {
    height: 100%;
    position: relative;
}

.carousel-inner, .carousel-item {
    height: 100%;
}

.carousel-control-next {
    position: absolute;
    height: fit-content;
    width: fit-content;
    right: 0;
    top: 110%;
}

.carousel-control-prev {
    position: absolute;
    height: fit-content;
    width: fit-content;
    left: 0;
    top: 110%;
}

.embed-plotly {
    position: relative !important;
    margin-top: 35px;
}

@media (min-width: 768px) {
    .dashboard-options { width: 1300px; padding-right: 20px; }
    .dash-rhs { max-width: 230px; height: 500px; }
    .dash-lhs { width: 1070px; height: 500px; }
    .dash-rhs > .dash-cont > .d-flex { height: 400px; }
    .dash-lhs > div:nth-of-type(1) > div:nth-of-type(1) { height: 100%; }
    .dash-lhs > div:nth-of-type(2) > div:nth-of-type(1) { width: 70%; height: 100%;}
    .dash-lhs > div:nth-of-type(2) > div:nth-of-type(2) { width: 30%;}
    .dash-rhs { max-width: 230px; }
    .est-face-cont { height: 100%; }
    .embed-plotly { position: absolute !important; margin-top: 0px; }
    .carousel-control-next { top: 0; height: 100%; transform: translateX(30%) translateY(7%); }
    .carousel-control-prev { top: 0; height: 100%; transform: translateX(-30%) translateY(7%); }
}

/* === History Items === */

.dash-item-wrapper {
    height: fit-content;
    width: fit-content;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    transition: all 300ms;
}

.dash-item-wrapper:hover {
    box-shadow: 0px 0px 0px 2px #563BFF;
}

.dash-thumbnail {
    height: 130px;
    width: 130px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dash-thumbnail-info {
    height: 130px;
    width: 250px;
}

.dash-item-wrapper:hover .action-view {
    border-color: #563BFF;
    background-color: #563BFF;
}

.dash-item-wrapper:hover .action-trash {
    border-color: #E71E24;
    background-color: #E71E24;
}

.dash-item-wrapper:hover path {
    fill: white;
}

.dash-action-btn {
    border: 2px solid #ddd;
    border-radius: 5px;
    height: 35px;
    width: 35px;
    margin: 0;
    background: none;
    transition: all 300ms;
}

.dash-action-btn:hover {
    transform: scale(1.1);
}

.activity-title {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

@media (max-width: 768px) {
    .dash-item-wrapper {
        margin: 0 !important;
    }
    .carousel {
        height: fit-content;
    }
}