.history-item-wrapper {
    width: 1300px;
}

.history-btns-wrapper {
    width: 1300px;
}

.item-wrapper {
    height: fit-content;
    width: fit-content;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    transition: all 300ms;
}

.item-wrapper:hover {
    box-shadow: 0px 0px 0px 3px #563BFF;
}

.thumbnail {
    height: 130px;
    width: 130px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.thumbnail-info {
    height: 130px;
    width: 250px;
}

.item-wrapper:hover .action-view {
    border-color: #563BFF;
    background-color: #563BFF;
}

.item-wrapper:hover .action-trash {
    border-color: #E71E24;
    background-color: #E71E24;
}

.item-wrapper:hover path {
    fill: white;
}

.action-btn {
    border: 2px solid #ddd;
    border-radius: 5px;
    height: 35px;
    width: 35px;
    margin: 0;
    background: none;
    transition: all 300ms;
}

.action-btn:hover {
    transform: scale(1.1);
}

.active .page-link {
    background-color: #563BFF !important;
    border-color: #563BFF !important;
}

.page-link {
    color: black;
}

.page-item-next a {
    color: #563BFF !important;
}

.form-check-input:checked {
    background-color: #563BFF;
    border-color: #563BFF;
    width: 20px;
    height: 20px;
}

.history-filter-btn {
    width: 140px;
}

.no-pred-btn-cont {
    width: 200px;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #563BFF;
}

@media (max-width: 768px) {
    .history-item-wrapper, .history-btns-wrapper {
        max-width: 100vw;
        padding: 0 10px;
    }

    .history-btns-wrapper > div {
        display: flex;
        flex-direction: column;
    }
}