.image-result {
    height: 500px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.image-data-wrapper {
    height: 500px;
    width: 500px;
}

.probabilities {
    height: 380px;
}

.icon-emotion {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.icon-emotion-right {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}