.image-result {
    height: 500px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.image-data-wrapper {
    height: 500px;
    width: 500px;
}

.image-data-wrapper > h5 {
    color: grey;
}

.result-confidence {
    color: #ffffff00;
}

.emotion-wrapper {
    width: 130px;
}

.probabilities {
    height: 380px;
}

.icon-emotion {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.icon-emotion-right {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

@media (max-width: 767px) {
    .image-result {
        max-width: 96vw;
        max-height: 100vw;
        margin: 0 !important;
    }
    
    .image-data-wrapper {
        max-width: 100vw;
        margin: 0;
        margin-bottom: 1em;
        height: fit-content;
    }

    .result-action-wrapper {
        max-width: 100vw;
        margin: 0;
    }
}